 .u-section-1 {
  min-height: 727px;
}

.u-section-1 .u-image-1 {
  width: 1287px;
  height: 676px;
  margin: 2px 0 49px auto;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 544px;
  }

  .u-section-1 .u-image-1 {
    width: 935px;
    height: 493px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 429px;
  }

  .u-section-1 .u-image-1 {
    height: 378px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 335px;
  }

  .u-section-1 .u-image-1 {
    height: 284px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 230px;
  }

  .u-section-1 .u-image-1 {
    height: 179px;
  }
}